

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #0f1624;
    color: white;
}

.intro_text {
    font-size: xx-large;
    padding: 20px;
}

.introduction, .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.intro_image-border {
    background-image: radial-gradient(circle , rgba(15, 22, 36, 0) 0%, #0f1624 80%);
    border-radius: 30%;
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.current {
    display: flex !important;
}

.slide #intro_img, .intro_image-border {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
    border-radius: 50%;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px; /* Customizable padding */
    font-size: 50px;
        font-family: 'Montserrat', sans-serif; /* A modern, clean font */
        
        font-weight: 600; /* Semi-bold weight for titles */
        color: #27496d; /* A deep blue shade for a professional and thematic Arctic feel */
        text-transform: uppercase; /* Stylistic choice to make titles stand out */
/* Center-aligned titles for focus */
    }

    .content {
        position: absolute;
        top:200px;
        left:100px;
        font-family: 'Open Sans', sans-serif; /* A readable font for content */
        font-size: 34px; /* A legible size for body text */
        font-weight: 400; /* Regular weight for readability */
        color: #333; /* Dark grey color for contrast and easy reading */
        line-height: 1.6; /* Spacing between lines for better readability */
        margin-bottom: 20px; /* Space below content for separation */
        max-width: 800px; /* Max width to maintain readability */
        text-align:left; /* Justified text for a clean look */
        margin-left: auto; /* Centering the content block */
        margin-right: auto; /* Centering the content block */
    }
    

/* Ensures title color consistency and standardizes margin-top */
.title, .content {
    color: white; /* Ensuring title and content color consistency */
    margin-top: 10px;
}


.image_display{
    
    flex-direction: column; /* Set flex direction to column */
    display:flex;
    position:absolute;
    right:200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom:20px;
}
.image_display img{
    border-radius: 20px;
}

.image_display label{
    font-size:30px;
}